<loading></loading>
<div class="jumbotron" style="padding-bottom: 20px;" ng-if="menu != null">
    <div class="container">
        <img src="images/wellnessnow.png"/>
        <p>{{menu.note}}</p>             
    </div>
</div>


<div class="jumbotron" style="background: white; text-align: center;" ng-if="menu == null">
    <div class="container">
        
        <p>Today's menu is not here yet, come back later. </p>             
    </div>
</div>

<div class="container" ng-if="menu != null">


        <div class="col-md-4" ng-repeat="item in menu.items"  ng-if="item.dashboard">
            <div>
                <h2>Category</h2>
<!--                <h2>{{value}}</h2>-->
                <p style="text-align: center;">
                <h4>{{item.name}}</h4> 
                <img src="images/tmp/soup3.jpg" width="100%;"/>
                </p>
                <p><a class="btn btn-default" href="#/list/{{key}}" role="button">More &raquo;</a></p>
            </div>
        </div>
</div>
