<div class="modal-header">
    <h3 class="modal-title">Add a Menu Item</h3>
</div>
<div class="modal-body">

    <form>

        <fieldset class="form-group">
            <label for="itemCategory">Category</label>
            <select ng-model="item.categoryId" class="form-control" id="itemCategory">
                <option ng-repeat="(key,value) in categories" value="{{key}}">{{ value}}</option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label for="itemName" >Name</label>
            <input ng-model="item.name" type="text" class="form-control" id="itemName" placeholder="Give a name to this item">
            <small class="text-muted"></small>
        </fieldset>

        <fieldset class="form-group">
            <label for="itemDescription">Description</label>
            <textarea ng-model="item.description" class="form-control" id="itemDescription" rows="3"></textarea>
        </fieldset>

        <div class="checkbox">
            <label>
                <input ng-model="item.dashboard" type="checkbox"> Dashboard <small class="text-muted">(Only one item for each category can be in the dashboard.)</small>
            </label>
        </div>

        


        <fieldset class="form-group">
            <label for="itemPicture">Picture</label>
            <div ngf-drop ngf-select ng-model="file" class="drop-box" 
             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
             accept="image/*" 
             ngf-pattern="'image/*'">Drop image here</div>
            <small class="text-muted"></small>
        </fieldset>

    </form>



</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>