<div class="container" style="padding-top: 48px;">
    
    <div class="row" ng-repeat="(key,value) in categories" style="padding-left: 15px;">
            <div ng-if="categoryIdscp === key">
            <h1 class="blog-title">{{value}}</h1>
            <h4 class="blog-header">List of todays specials</h4>
            
        </div>
    </div>
    
    <hr class="featurette-divider">

    <div class="row featurette" ng-repeat="(key,value) in categoryItems">
        <div ng-if="categoryIdscp === value.categoryId" >
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">{{value.name}}
                    <!--<span class="text-muted" style="font-size: 25px;" ng-click="editItem()" ng-class="admin ? 'glyphicon glyphicon-edit btn' : ''"></span>-->
                    <span class="text-muted" style="font-size: 25px;" ng-click="deleteItem(key)" ng-class="admin ? 'glyphicon glyphicon-remove btn' : ''"></span>
                </h2>
                <p class="lead">{{value.description}}</p>
            </div>
            <br>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" 
                     src="{{value.picture.url}}">
            </div>
        </div>
    </div>

</div>